[defaults]

# some basic default values...

inventory      = ./inventory/hosts.yml
forks          = 25
poll_interval  = 3
gathering = smart

gather_timeout = 30

host_key_checking = False

# SSH timeout
timeout = 30

# use this shell for commands executed under sudo
# you may need to change this to bin/bash in rare instances
# if sudo is constrained
executable = /bin/bash

# if set, always use this private key file for authentication, same as
# if passing --private-key to ansible or ansible-playbook
#private_key_file = ~/.ssh/id_rsa

# If set, configures the path to the Vault password file as an alternative to
# specifying --vault-password-file on the command line.
vault_password_file = .vault_key

#display_skipped_hosts = False

# by default callbacks are not loaded for /bin/ansible, enable this if you
# want, for example, a notification or logging callback to also apply to
# /bin/ansible runs
bin_ansible_callbacks = True
callback_whitelist = profile_tasks

retry_files_enabled = False
#allow_world_readable_tmpfiles = True
var_compression_level = 9

library = ./modules

[paramiko_connection]
host_key_auto_add = True

[ssh_connection]
ssh_args=-C -o ForwardAgent=yes -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=60s
#pipelining=True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r


[persistent_connection]
connect_timeout = 600
connect_retry_timeout = 3
command_timeout = 15

